<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">


	<form>
		<input ng-model="newMessage.user" type="text" placeholder="User">
		<input ng-model="newMessage.message" type="text" placeholder="Message">
		<button style="display: block" ng-click="addMessage(newMessage)">Submit</button>
	</form>


		<div ng-repeat='message in messages track by $index'>{{message.user}} says {{message.message}} at {{message.time | date: 'shortTime'}}</div>

</div>
